.container {
	padding: 130px 180px;
	background-image: url(/src/img/wayWeWorkBgr.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}

.title {
	margin: 0 0 70px;
}

.list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.item {
	margin: 0 0 0 100px;
	position: relative;
}
.item + .item {
	margin-top: 80px;
}
.item::after {
	position: absolute;
	content: '1';
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	top: -21px;
	left: -80px;
	color: #000000;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
}
.item:nth-child(2)::after {
	content: '2';
}
.item:nth-child(3)::after {
	content: '3';
}
.item:nth-child(4)::after {
	content: '4';
}
.item:nth-child(5)::after {
	content: '5';
}
.item:nth-child(6)::after {
	content: '6';
}
.item:nth-child(7)::after {
	content: '7';
}
.item:nth-child(8)::after {
	content: '8';
}
.item:nth-child(9)::after {
	content: '9';
}
.item::before {
	position: absolute;
	display: block;
	content: '';
	width: 3px;
	height: 40px;
	bottom: 42px;
	left: -49px;
	background-color: #f0c632;
	filter: drop-shadow(0 0 5px #f9de80);
}
.item:nth-child(1)::before {
	width: 200px;
	height: 3px;
	bottom: 10px;
	left: -280px;
}

.bottomGrd {
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: 0;
	left: 0;
	background-image: url(/src/img/wayWeWorkBtmBgr.png);
	background-size: cover;
	background-repeat: no-repeat;
}
