.container {
	background-image: url(/src/img/careerBgr.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.text {
	margin: 0 0 50px;
}

.cardList {
	margin: 0 0 50px;
	display: grid;
	gap: 50px;
}

.btnContainer {
	display: flex;
	justify-content: space-between;
}

.btnBgr {
	width: 100px;
	height: 1px;
	background-color: #ffffff;
	/* position: relative; */
}

.btnBack,
.btnNext {
	padding: 12px 0;
	position: relative;
}
.btnBack::after,
.btnBack::before,
.btnNext::after,
.btnNext::before {
	position: absolute;
	display: block;
	content: '';
	width: 1px;
	height: 30px;
	background-color: #ffffff;
}
.btnBack::after {
	left: 15px;
	top: -8px;
	transform: rotate(70deg);
}
.btnBack::before {
	left: 15px;
	bottom: -8px;
	transform: rotate(-70deg);
}
.btnNext::after {
	right: 15px;
	top: -8px;
	transform: rotate(-70deg);
}
.btnNext::before {
	right: 15px;
	bottom: -8px;
	transform: rotate(70deg);
}

.btnBack:hover,
.btnNext:hover {
	cursor: pointer;
}
