.container {
	padding: 10px 180px 0;
	display: grid;
	grid-template-columns: 1fr 9fr;
	align-items: center;
	background-color: #0a1618;
}

.menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 13%;
	row-gap: 25px;
	justify-items: center;
}

.link {
	color: #fff;
	text-decoration: none;
}
