@font-face {
	font-family: 'MontserratAlternates-Regular';
	src: url(./fonts/MontserratAlternates-Regular.ttf);
	font-weight: 400;
	font-style: normal;
	font-size: 23px;
	line-height: 22px;
	letter-spacing: -0.01em;
}
@font-face {
	font-family: 'MontserratAlternates-Medium';
	src: url(./fonts/MontserratAlternates-Medium.ttf);
	font-weight: 500;
	font-style: normal;
	font-size: 23px;
	line-height: 28px;
	letter-spacing: -0.01em;
}
@font-face {
	font-family: 'MontserratAlternates-Bold';
	src: url(./fonts/MontserratAlternates-Bold.ttf);
	font-weight: 700;
	font-style: normal;
	font-size: 31px;
	line-height: 22px;
	letter-spacing: -0.01em;
}

body {
	margin: 0 auto;
	max-width: 1900px;
	color: #ffffff;
	font-family: 'MontserratAlternates-Regular', 'Arial';
	background-color: #183433;
}

.section {
	padding: 0 180px;
	box-shadow: inset 15px 0px 6px -8px #eec121, inset -15px 0px 6px -8px #eec121;
	-moz-box-shadow: inset 15px 0px 6px -8px #eec121,
		inset -15px 0px 6px -8px #eec121;
	-webkit-box-shadow: inset 15px 0px 6px -8px #eec121,
		inset -15px 0px 6px -8px #eec121;
}

.title {
	margin: 0;
	font-family: 'MontserratAlternates-Bold';
	font-size: 31px;
	line-height: 22px;
	letter-spacing: -0.01em;
}
